
.footer {
  position: relative;
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: $gallery;

  @include tablet {
    padding-top: 21px;
    padding-bottom: 54px;
  }

  @include mobile {
    padding-top: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: $wildsand;
  }

  &__container {
    @include tablet {
      row-gap: 22px;
    }

    @include mobile {
      row-gap: 24px;
    }
  }

  &__left {
    justify-self: baseline;
    grid-column: 4 span;

    @include desktop {
      grid-column: 2 span;
    }

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-self: auto;
      grid-column: 6 span;
      padding-right: 52px;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 28px;

    @include tablet {
      margin-bottom: 0;
    }

    @include mobile {
      margin-bottom: 21px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    grid-column: 8 span;

    @include desktop {
      grid-column: 7 span;
    }

    @include tablet {
      grid-column: 6 span;
    }

    @include tablet-custom {
      display: grid;
      gap: 27px 15px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    padding-top: 2px;

    @include mobile {
      padding: 0;
    }

    &:nth-child(4) {
      padding-right: 2px;

      @include mobile {
        padding: 0;
      }
    }

    &:nth-child(3) {
      padding-right: 32px;

      @include mobile {
        padding: 0;
      }
    }

    &:nth-child(2) {
      padding-right: 20px;

      @include mobile {
        padding: 0;
      }
    }
  }


  &__subtitle {
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }

  &__sublist {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 5px;
  }

  &__copy {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.5px;
    color: $dustygray;
    transform: translateX(-50%);
  }
}

.socials {
  display: flex;
  gap: 12px;

  &__link {
    display: block;
    width: 36px;
    height: 36px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    & .socials-icon {
      position: relative;
      top: 3px;
      left: 3px;
      width: 30px;
      height: 30px;
      fill: $dustygray;
      transition: fill 0.3s ease-in-out;
    }

    &:focus-visible {
      background-color: $mauve;

      & .socials-icon {
        fill: $white;
      }
    }

    @include hover {
      & .socials-icon {
        fill: $mediumpurple;
      }
    }

    &:active {
      & .socials-icon {
        fill: $purpleheart;
      }
    }
  }
}
