.header {
  position: relative;
  z-index: 100;
  padding-bottom: 32px;
  background-color: $white;

  @include desktop {
    padding-bottom: 33px;
  }

  @include mobile {
    padding-bottom: 32px;
  }

  @include mobile {
    &::after {
      content: "";
      position: absolute;
      top: 66px;
      width: 100%;
      height: 50px;
      border-top: 1px solid $wildsand;
      border-bottom: 1px solid $wildsand;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 50px;
    background-color: $wildsand;

    @include desktop {
      top: 58px;
    }

    @include mobile {
      top: 0;
    }
  }

  &__container {
    grid-template-areas:
    "phone phone phone phone list list list list list list list list"
    "logo logo nav nav nav nav nav nav nav nav nav nav"
    "form form form form form form form form form form users users"
    "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs";
    grid-template-rows: 50px 91px 60px;
    align-items: center;

    @include desktop {
      grid-template-areas:
      "phone phone phone phone phone phone phone phone phone"
      "list list list list list list list users users"
      "logo logo nav nav nav nav nav nav nav"
      "form form form form form form form form form"
      "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs ";
      grid-template-rows: 58px 50px 91px 60px;
    }

    @include tablet {
      grid-template-areas:
      "phone phone phone phone phone phone"
      "list list list list list list"
      "logo logo logo users users users"
      "nav nav nav nav nav nav"
      "form form form form form form"
      "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs";
      grid-template-rows: 58px 50px 95px 51px 60px;
    }

    @include mobile {
      grid-template-areas:
      "logo logo logo logo logo logo"
      "phone phone phone phone users users"
      "nav nav nav nav nav nav"
      "form form form form form form";
      grid-template-rows: 50px 61px 57px 60px;
    }
  }

  &__phone {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-self: baseline;
    grid-area: phone;
    z-index: 1;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $crusta;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      bottom: 0;
      left: -10px;
      z-index: -1;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }

    & .phone-icon {
      width: 22px;
      height: 22px;
      fill: $crusta;
      transition: fill 0.3s ease-in-out;
    }

    &:focus-visible::before {
      background-color: $milkpunch;
    }

    @include hover {
      color: $koromiko;

      & .phone-icon {
        fill: $koromiko;
      }
    }

    &:active {
      color: $rust;

      & .phone-icon {
        fill: $rust;
      }
    }

    @include mobile {
      align-self: center;
      padding-top: 21px;
    }
  }

  &__navigation {
    justify-self: end;
    grid-area: list;

    @include desktop {
      justify-self: start;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      display: none;
    }
  }

  &__list {
    display: flex;
    gap: 64px;

    @include desktop {
      gap: 64px;
    }

    @include tablet {
      justify-content: space-between;
      gap: 0;
    }

    @include tablet-sm {
      gap: 20px;
      overflow-y: auto;
      scrollbar-width: none;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__item {
    flex-shrink: 0;
  }

  &__link {
    &::before {
      right: -10px;
      left: -10px;
    }
  }

  &__logo {
    justify-self: baseline;
    grid-area: logo;

    @include mobile {
      justify-self: center;
    }
  }

  &__users {
    justify-self: end;
    grid-area: users;
  }
}

.nav {
  justify-self: end;
  grid-area: nav;

  @include tablet {
    justify-self: auto;
    align-self: baseline;
  }

  @include mobile {
    align-self: center;
  }

  &__list {
    display: flex;
    gap: 92px;

    @include desktop {
      gap: 42px;
    }

    @include tablet {
      justify-content: space-between;
      gap: 0;
      width: 100%;
    }

    @include tablet-sm {
      gap: 30px;
      overflow-y: auto;
      scrollbar-width: none;
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__item {
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $mineshaft;

    @include tablet {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__link {
    position: relative;
    z-index: 1;
    transition: color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -10px;
      bottom: 0;
      left: -10px;
      z-index: -1;
      background: transparent;
      transition: background-color 0.3s ease-in-out;
    }

    &:focus-visible::before {
      background-color: $bluechalk;
    }

    @include hover {
      color: $mediumpurple;
    }

    &:active {
      color: $purpleheart;
    }
  }
}

.form {
  position: relative;
  justify-self: baseline;
  grid-area: form;
  width: 100%;

  @include desktop {
    grid-column: 7 span;
  }

  @include tablet {
    grid-column: 6 span;
  }

  &__input {
    padding: 18px 76px 18px 58px;
    width: 100%;
    height: 60px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    background-color: $wildsand;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    &::placeholder {
      color: $dustygray;
    }

    &:focus-visible {
      border-color: $mediumpurple;
      background-color: $magnolia;
    }

    @include hover {
      background-color: $gallery;
    }

    &:active {
      border-color: transparent;
      background-color: $wildsand;

      +.form-bg {
        fill: $mediumpurple;
      }
    }
  }

  &__button {
    position: absolute;
    top: 14px;
    right: 32px;

    & .form-icon {
      width: 32px;
      height: 32px;
    }

    &:focus-visible {
      & .form-icon path {
        stroke: $white;
      }

      & .form-icon circle {
        fill: $mauve;
        stroke: $mediumpurple;
      }
    }

    &:disabled {
      pointer-events: none;

      & .form-icon path {
        stroke: $dustygray;
      }

      & .form-icon circle {
        fill: transparent;
        stroke: $dustygray;
      }
    }
  }
}

.users {
  display: flex;
  gap: 32px;

  @include mobile {
    align-self: end;
  }

  &__link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -16px;
      right: -4px;
      bottom: -2px;
      left: -4px;
      z-index: -1;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }

    &:focus-visible::before {
      background-color: $mauve;
    }

    &:focus-visible .profile-icon {
      fill: $white;
    }

    &:focus-visible .cart-icon {
      fill: $white;
    }

    &--cart {
      position: relative;

      & .cart-counter {
        position: absolute;
        top: -4.3px;
        left: 2px;
        width: 14px;
        height: 15px;
        border-radius: 50px;
        font-weight: 700;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: $white;
        background-color: $crusta;

        @include mobile {
          top: -8px;
        }
      }
    }
  }
}

.profile-icon {
  width: 26px;
  height: 28px;
}

.cart-icon {
  position: relative;
  padding-left: 8px;
  width: 43px;
  height: 28px;
}

.profile-icon,
.cart-icon {
  fill: $mediumpurple;
  transition: fill 0.3s ease-in-out;

  &:focus-visible {
    fill: $white;
  }

  @include hover {
    fill: $mauve;
  }

  &:active {
    fill: $purpleheart;
  }
}

.form-bg {
  position: absolute;
  top: 22px;
  left: 34px;
  width: 18px;
  height: 18px;
  fill: $dustygray;
}

.breadcrumbs {
  grid-area: breadcrumbs;
  padding-top: 20px;

  @include mobile {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__item {
    position: relative;

    &:not(:last-child)::after {
      content: "\002F";
      position: absolute;
      top: 55%;
      right: -12px;
      color: $dustygray;
      transform: translateY(-50%);
    }
  }

  &__link {
    &::before {
      right: -2px;
      left: -2px;
    }

    &--active {
      color: $purpleheart;
    }
  }
}

.page-header {
  @include mobile {
    @include h-adjust;
  }
}
