.hero {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url("./../img/hero-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include desktop {
    padding-top: 80px;
    background-image: url("./../img/hero-bg-1024.webp");
  }

  @include tablet {
    background-image: url("./../img/hero-bg-768.webp");
  }

  @include mobile {
    padding-top: 31px;
    padding-bottom: 287px;
    background-image: url("./../img/hero-bg-320.webp");
    background-position: top;
    background-size: 100% 210px;
  }

  &__content {
    position: relative;
    grid-column: 5 span;

    @include mobile {
      padding-left: 18px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 50px;
    width: 50%;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    color: $dustygray;

    @include mobile {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 27px;
    }
  }

  &__button {
    padding: 20px 49px;

    @include desktop {
      padding: 20px 48px;
    }

    @include mobile {
      position: absolute;
      top: 211px;
      left: 60.5%;
      width: 296px;
      transform: translateX(-50%);
    }
  }
}
