.ps-section-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;

  @include mobile {
    font-size: 16px;
    line-height: 22px;
  }
}

.ps-content {
  grid-column: 8 span;

  @include tablet {
    grid-column: 6 span;
  }
}

.ps-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  color: $dovegray;

  @include mobile {
    font-size: 14px;
    line-height: 25px;
  }
}

.partnership {
  &__title {
    grid-column: 12 span;
    margin-bottom: 32px;

    @include desktop {
      grid-column: 6 span;
    }
  }
}

.contractors {
  padding-bottom: 32px;

  &__info {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    color: $dovegray;

    @include mobile {
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.offer {
  grid-column: 6 span;
  padding-bottom: 32px;

  &__item {
    padding-left: 37px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 25px 25px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &--one {
      background-image: url("../img/offer-item-1.svg");
    }

    &--two {
      background-image: url("../img/offer-item-2.svg");
    }

    &--three {
      background-image: url("../img/offer-item-3.svg");
    }
  }

  &__text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $dovegray;

    @include mobile {
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.advantages {
  padding-bottom: 32px;

  &__title {
    @include mobile {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: $crusta;
  }
}

.guarantee {
  padding-bottom: 90px;

  @include tablet {
    padding-bottom: 91px;
  }

  @include mobile {
    padding-bottom: 70px;
  }

  &__list {
    counter-reset: paragraph;
    margin-bottom: 55px;

    @include mobile {
      margin-bottom: 32px;
    }
  }

  &__item {
    position: relative;
    padding-left: 26px;
    width: 97%;

    @include tablet {
      width: 100%;
    }

    &::before {
      content: counter(paragraph) ".";
      counter-increment: paragraph;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 16px;
      font-weight: 600;
      line-height: 29px;
      color: $crusta;
    }

    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }

  &__assurance {
    position: relative;
    margin: 0;
    padding-left: 109px;
    width: 75%;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      padding-left: 52px;
      font-size: 16px;
      line-height: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -24px;
      left: 0;
      width: 77px;
      height: 116px;
      background-image: url("../img/guarantee.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @include mobile {
        top: 9px;
        width: 36px;
        height: 54px;
      }
    }
  }
}
