.product-main {
  padding-top: 13px;
  padding-bottom: 82px;
  background-color: white;

  @include desktop {
    padding-top: 0;
    padding-bottom: 70px;
  }

  @include tablet {
    padding-bottom: 33px;
  }

  @include mobile {
    padding-bottom: 70px;
  }

  &__container {
    row-gap: 111px;

    @include desktop {
      row-gap: 82px;
    }

    @include tablet {
      row-gap: 32px;
    }

    @include mobile {
      row-gap: 32px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 32px;
    grid-column: 12 span;

    @include desktop {
      grid-column: 9 span;
    }

    @include tablet {
      flex-direction: column;
      align-items: baseline;
      gap: 84px;
      grid-column: 6 span;
      padding-left: 3px;
    }

    @include mobile {
      align-items: center;
      justify-self: center;
      gap: 15px;
      z-index: 123;
      padding-left: 0;
    }
  }

  &__picture {
    flex-shrink: 0;
  }

  &__rating {
    margin: 0;
    padding-left: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: $crusta;
    background-image: url("../img/star.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px 15px;

    @include mobile {
      margin-bottom: 3px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;

    @include mobile {
      margin-bottom: 7px;
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__details {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $dustygray;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__price {
    margin: 0;
    margin-bottom: 22px;
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;

    @include mobile {
      margin-bottom: 17px;
      font-size: 24px;
      line-height: 31px;
    }
  }

  &__button {
    margin-bottom: 12px;
    padding: 17px 29.5px;

    @include mobile {
      position: relative;
      left: 50%;
      width: 294px;
      transform: translate(-50%);
    }
  }

  &__link {
    position: relative;
    left: 30px;
    display: block;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: $mediumpurple;
    user-select: none;

    @include hover {
      color: $mauve;
    }

    @include mobile {
      left: 50%;
      transform: translate(-50%);
    }
  }

  &__specification {
    grid-column: 6 span;
    background-image: url("../img/product-main-bg.svg");
    background-position: left 0 bottom 0;
    background-repeat: no-repeat;
    background-size: 526px 113px;

    @include desktop {
      grid-column: 5 span;
      background-size: 100% 110px;
    }

    @include tablet {
      padding-top: 50px;
      padding-bottom: 142px;
    }

    @include mobile {
      grid-column: 6 span;
      padding: 0;
      padding-bottom: 96px;
      background-size: 294px 64px;
    }

  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }

  &__descr {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }

  &__para {
    display: block;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__characteristics {
    grid-column: 6 span;
    max-width: 544px;

    @include desktop {
      grid-column: 4 span;
      max-width: 405px;
    }

    @include tablet {
      grid-column: 6 span;
      max-width: 100%;
    }

    @include mobile {
      top: 0;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;

    @include tablet-custom {
      flex-direction: column;
      align-items: baseline;
    }

    &:not(:last-child) {
      @include tablet-custom {
        margin-bottom: 8px;
      }
    }
  }

  &__characteristic {
    position: relative;
    width: 59.4%;
    color: $dustygray;

    @include desktop {
      width: 45.4%;
    }

    @include tablet {
      width: 64.6%;
    }

    @include tablet-custom {
      font-size: 10px;
      line-height: 14px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0.6em;
      left: 0;
      display: block;
      width: 100%;
      border-bottom: 2px dotted $dustygray;

      @include tablet-custom {
        display: none;
      }
    }
  }

  &__list-positioning {
    position: relative;
    z-index: 1;
    padding-right: 5px;
    background-color: white;
  }

  &__definition {
    margin: 0;
    padding-left: 4px;

    @include tablet-custom {
      padding: 0;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
