.similar-products {
  padding-bottom: 69px;
  background-color: $white;

  @include mobile {
    padding-bottom: 71px;
  }

  &__title {
    margin: 0;
    margin-bottom: 23px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
  }

  &__list {
    row-gap: 32px;
  }

  &__item {
    grid-column: 3 span;

    &--md {
      @include desktop {
        display: none;
      }
    }

    &--sm {
      @include tablet {
        display: none;
      }
    }
  }
}
