<section class="blog">
  <div class="container blog__container">
    <h2 class="section-title blog__title">Полезное</h2>
    <ul class="list-reset blog__list grid">
      <li class="blog__item">
        <div class="blog__content blog__content--one">
          <p class="blog__text">
            И нет сомнений, что сделанные на базе интернет-аналитики выводы
            представляют собой не что иное?
          </p>
          <a class="button-hollow blog__button" href="#">Читать</a>
        </div>
      </li>
      <li class="blog__item">
        <div class="blog__content blog__content--two">
          <p class="blog__text">
            Как принято считать, некоторые особенности приносят несомненную
            пользу обществу?
          </p>
          <a class="button-hollow blog__button" href="#">Читать</a>
        </div>
      </li>
      <li class="blog__item blog__item--md">
        <div class="blog__content blog__content--three">
          <p class="blog__text">
            Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
          </p>
          <a class="button-hollow blog__button" href="#">Читать</a>
        </div>
      </li>
      <li class="blog__item blog__item--sm">
        <div class="blog__content blog__content--four">
          <p class="blog__text">
            Прежде всего, консультация с широким активом
            однозначно фиксирует необходимость распределения?
          </p>
          <a class="button-hollow blog__button" href="#">Читать</a>
        </div>
      </li>
      <li class="blog__item blog__item--sm">
        <div class="blog__content blog__content--five">
          <p class="blog__text">
            Как принято считать, некоторые особенности
            приносят несомненную пользу обществу?
          </p>
          <a class="button-hollow blog__button" href="#">Читать</a>
        </div>
      </li>
    </ul>
  </div>
</section>
