<section class="categories">
  <div class="container categories__container">
    <h2 class="section-title categories__title">Топ категории</h2>
    <ul class="list-reset categories__list grid">
      <li class="categories__item">
        <article class="category-card category-card--lg">
          <ul class="list-reset category-card__list">
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="./catalog.html">Прямые</a>
            </li>
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Угловые</a>
            </li>
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Модульные</a>
            </li>
          </ul>
          <h3 class="category-card__title">
            Диваны
            <a class="category-card__link-main" href="#" aria-label="Перейти в раздел Диваны">
              <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2216_925)">
                <circle cx="16" cy="16" r="15" stroke-width="2"/>
                <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>
            </a>
          </h3>
          <picture class="category-card__picture">
            <source media="(max-width: 575.99px)" srcset="./img/category-card-1-320.webp, ./img/category-card-1-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/category-card-1-768.webp, ./img/category-card-1-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/category-card-1-1024.webp, ./img/category-card-1-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/category-card-1.webp, ./img/category-card-1-2x.webp 2x">
            <img src="./img/category-card-1.png" alt="Диван белый на деревянных ножках" loading="lazy">
          </picture>
          <a class="category-card__link-main" href="#">
            <span>В каталог</span>
            <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2216_925)">
              <circle cx="16" cy="16" r="15" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item">
        <article class="category-card category-card--sm">
          <ul class="list-reset category-card__list">
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Мягкие</a>
            </li>
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Кресла-кровати</a>
            </li>
          </ul>
          <h3 class="category-card__title">
            Кресла
            <a class="category-card__link-main" href="#" aria-label="Перейти в раздел Кресла">
              <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2216_925)">
                <circle cx="16" cy="16" r="15" stroke-width="2"/>
                <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>
            </a>
          </h3>
          <picture class="category-card__picture category-card__picture--sm w-2">
            <source media="(max-width: 575.99px)" srcset="./img/category-card-2-320.webp, ./img/category-card-2-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/category-card-2-768.webp, ./img/category-card-2-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/category-card-2-1024.webp, ./img/category-card-2-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/category-card-2.webp, ./img/category-card-2-2x.webp 2x">
            <img src="./img/category-card-2.png" alt="Кресло серое" loading="lazy">
          </picture>
          <a class="category-card__link-main" href="#">
            <span>В каталог</span>
            <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2216_925)">
              <circle cx="16" cy="16" r="15" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item">
        <article class="category-card category-card--sm">
          <ul class="list-reset category-card__list">
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Односпальные</a>
            </li>
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Двуспальные</a>
            </li>
          </ul>
          <h3 class="category-card__title">
            Кровати
            <a class="category-card__link-main" href="#" aria-label="Перейти в раздел Кровати">
              <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2216_925)">
                <circle cx="16" cy="16" r="15" stroke-width="2"/>
                <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>
            </a>
          </h3>
          <picture class="category-card__picture category-card__picture--sm w-1">
            <source media="(max-width: 575.99px)" srcset="./img/category-card-3-320.webp, ./img/category-card-3-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/category-card-3-768.webp, ./img/category-card-3-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/category-card-3-1024.webp, ./img/category-card-3-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/category-card-3.webp, ./img/category-card-3-2x.webp 2x">
            <img src="./img/category-card-3.png" alt="Кровать двухспальная" loading="lazy">
          </picture>
          <a class="category-card__link-main" href="#">
            <span>В каталог</span>
            <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2216_925)">
              <circle cx="16" cy="16" r="15" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item">
        <article class="category-card category-card--sm">
          <ul class="list-reset category-card__list">
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Тумбы</a>
            </li>
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Комоды</a>
            </li>
          </ul>
          <h3 class="category-card__title">
            Тумбы и комоды
            <a class="category-card__link-main" href="#" aria-label="Перейти в раздел Тумбы и комоды">
              <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2216_925)">
                <circle cx="16" cy="16" r="15" stroke-width="2"/>
                <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>
            </a>
          </h3>
          <picture class="category-card__picture category-card__picture--sm w-2">
            <source media="(max-width: 575.99px)" srcset="./img/category-card-4-320.webp, ./img/category-card-4-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/category-card-4-768.webp, ./img/category-card-4-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/category-card-4-1024.webp, ./img/category-card-4-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/category-card-4.webp, ./img/category-card-4-2x.webp 2x">
            <img src="./img/category-card-4.png" alt="Комод деревянный с белыми дверцами" loading="lazy">
          </picture>
          <a class="category-card__link-main" href="#">
            <span>В каталог</span>
            <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2216_925)">
              <circle cx="16" cy="16" r="15" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </a>
        </article>
      </li>
      <li class="categories__item">
        <article class="category-card category-card--sm">
          <ul class="list-reset category-card__list">
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Деревянные</a>
            </li>
            <li class="category-card__item">
              <a class="link-t1 category-card__link" href="#">Металлокаркас</a>
            </li>
          </ul>
          <h3 class="category-card__title">
            Стулья
            <a class="category-card__link-main" href="#" aria-label="Перейти в раздел Стулья">
              <svg class="arrow-icon category-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2216_925)">
                <circle cx="16" cy="16" r="15" stroke-width="2"/>
                <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
              </svg>
            </a>
          </h3>
          <picture class="category-card__picture category-card__picture--sm">
            <source media="(max-width: 575.99px)" srcset="./img/category-card-5-320.webp, ./img/category-card-5-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/category-card-5-768.webp, ./img/category-card-5-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/category-card-5-1024.webp, ./img/category-card-5-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/category-card-5.webp, ./img/category-card-5-2x.webp 2x">
            <img src="./img/category-card-5.png" alt="Стулья офисные, деревянные" loading="lazy">
          </picture>
          <a class="category-card__link-main" href="#">
            <span>В каталог</span>
            <svg class="arrow-icon category-icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2216_925)">
              <circle cx="16" cy="16" r="15" stroke-width="2"/>
              <path d="M14 11L19 16L14 21" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
