<section class="contacts">
  <div class="container contacts__container grid">
    <div class="contacts__content">
      <h2 class="section-title contacts__title">Мы всегда вам рады!</h2>
      <p class="contacts__intro">
        Безусловно, новая модель организационной деятельности в значительной
        степени обусловливает важность распределения внутренних резервов и ресурсов.
      </p>
      <form class="contacts__form" action="post">
        <label class="contacts__label" aria-label="Введите имя">
          <input class="input-reset contacts__input" id="name" type="text" placeholder="Как вас зовут?" autocomplete="name">
        </label>
        <label class="contacts__label" aria-label="Введите номер телефона">
          <input class="input-reset contacts__input" id="phone" type="tel" placeholder="Ваш телефон" autocomplete="tel">
        </label>
        <label class="contacts__label" aria-label="Введите адрес электронной почты">
          <input class="input-reset contacts__input" id="email" type="email" placeholder="Ваш e-mail" autocomplete="email">
        </label>
        <button class="button-reset button-filled contacts__button">Отправить</button>
        <label class="contacts__label" for="checkbox">
          <input class="contacts__checkbox-custom" id="checkbox" type="checkbox" checked>
          <span class="contacts__agreement">Принимаю <a class="contacts__link" href="#">пользовательское соглашение</a></span>
        </label>
      </form>
    </div>
  </div>
</section>
