<footer class="footer">
  <div class="container footer__container grid">
    <div class="footer__left">
      <a class="footer__logo logo" href="./index.html">
        <img src="./img/logo.svg" alt="Логотип магазина SitDownPls" loading="lazy">
      </a>
      <ul class="list-reset footer__socials socials">
        <li class="socials__item">
          <a class="socials__link" href="#" target="_blank" aria-label="Наша страница Одноклассники">
            <svg class="socials-icon">
              <use xlink:href="img/sprite.svg#socials-ok"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#" target="_blank" aria-label="Наша страница Вконтакте">
            <svg class="socials-icon">
              <use xlink:href="img/sprite.svg#socials-vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <h3 class="footer__subtitle">О нас</h3>
        <ul class="list-reset footer__sublist sublist">
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">О компании</a>
          </li>
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Блог</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <h3 class="footer__subtitle">Услуги</h3>
        <ul class="list-reset footer__sublist sublist">
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Доставка</a>
          </li>
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Рассрочка и кредит</a>
          </li>
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Сборка и установка</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <h3 class="footer__subtitle">Связь с нами</h3>
        <ul class="list-reset footer__sublist sublist">
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Обратная связь</a>
          </li>
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Контакты</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <h3 class="footer__subtitle">Сотрудничество</h3>
        <ul class="list-reset footer__sublist sublist">
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="./partnership.html">Поставщикам</a>
          </li>
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Оптовикам</a>
          </li>
          <li class="sublist__item">
            <a class="link-t1 sublist__link" href="#">Карьера</a>
          </li>
        </ul>
      </li>
    </ul>
    <p class="footer__copy">SDP®&nbsp;2011-2021</p>
  </div>
</footer>
