<section class="partnership">
  <div class="container partnership__container grid">
    <h2 class="section-title partnership__title">Сотрудничество</h2>
    <div class="ps-content partnership__section contractors">
      <h3 class="ps-section-title contractors__title">Поставщикам</h3>
      <p class="contractors__info">
        При планировании обстановки торгового помещения важно обустроить его с
        комфортом для покупателей: грамотно зонировать, обеспечить эффективную
        демонстрацию и хранение товаров в зале. Если вам необходимо комплексное
        оснащение, организация зоны отдыха или отдельные предметы меблировки для
        поддержания эффективной торговой деятельности, мы поможем выбрать
        продукцию с учетом нагрузки от поступающего трафика.
      </p>
    </div>
    <div class="partnership__section offer">
      <h3 class="ps-section-title offer__title">Что вы получаете?</h3>
      <ul class="list-reset offer__list">
        <li class="offer__item offer__item--one">
          <p class="offer__text">
            Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым
            дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит
            любой современный проект.
          </p>
        </li>
        <li class="offer__item offer__item--two">
          <p class="offer__text">
            Комплексное решение для красивого и функционального обустройства любых пространств.
          </p>
        </li>
        <li class="offer__item offer__item--three">
          <p class="offer__text">
            В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку
            в помещениях разных типов: кабинетах, смешанных пространствах, Open Space,
            гостевых и переговорных комнатах.
          </p>
        </li>
      </ul>
    </div>
    <div class="ps-content partnership__section advantages">
      <h3 class="ps-section-title advantages__title">Ваши преимущества от сотрудничества</h3>
      <ul class="list-reset advantages__list">
        <li class="advantages__item">
          <h4 class="advantages__subtitle">Возможность 1:</h4>
          <p class="ps-text advantages__text">
            Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит
            клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена
            на их снимках. Стильная и разноплановая обстановка творческого пространства –
            ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре,
            а мы поможем правильно выбрать мебель.
          </p>
        </li>
        <li class="advantages__item">
          <h4 class="advantages__subtitle">Возможность 2:</h4>
          <p class="ps-text advantages__text">
            Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов
            от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений
            до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами
            изделий и материалов на площади нового здания, чтобы покупатель заблаговременно
            подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
          </p>
        </li>
      </ul>
    </div>
    <div class="ps-content partnership__section guarantee">
      <h3 class="ps-section-title guarantee__title">Гарантии</h3>
      <ul class="list-reset guarantee__list">
        <li class="guarantee__item">
          <p class="ps-text guarantee__text">
            При приемке товара Покупатель должен внимательно проверить его количество,
            качество и ассортимент на соответствие сопроводительным документам и заказу.
            После подписания товарного чека Покупатель утрачивает право предъявления претензий, к
            оторые можно выявить при приемке товара.
          </p>
        </li>
        <li class="guarantee__item">
          <p class="ps-text guarantee__text">
            На товары, сборка которых производилась покупателем самостоятельно
            (не специалистами Продавца), гарантийные обязательства Продавца не распространяются.
            Также гарантия не распространяется на повреждения товара, полученные в ходе самостоятельной
            доставки и подъема товара. Покупатель не вправе отказаться от товара надлежащего качества,
            имеющего индивидуально-определенные свойства, т.е. если товар может быть использован
            исключительно приобретающим его потребителем.
          </p>
        </li>
        <li class="guarantee__item">
          <p class="ps-text guarantee__text">
            Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид
            и потребительские свойства товара, а также товарный и кассовый чеки. В этом случае
            мы гарантируем вам возврат полной стоимости товара (за вычетом стоимости доставки).
            В случае отказа от товара при доставке, клиент оплачивает услуги доставки.
          </p>
        </li>
      </ul>
      <p class="guarantee__assurance">
        Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
      </p>
    </div>
  </div>
</section>
