<section class="product-main">
  <div class="container product-main__container grid">
    <div class="product-main__main">
      <picture class="product-main__picture">
        <source media="(max-width: 575.99px)" srcset="./img/product-1-320.webp, ./img/product-1-320-2x.webp 2x">
        <source media="(max-width: 991.99px)" srcset="./img/product-1-768.webp, ./img/product-1-768-2x.webp 2x">
        <source media="(max-width: 1199.99px)" srcset="./img/product-1-1024.webp, ./img/product-1-1024-2x.webp 2x">
        <source media="(min-width: 1200px)" srcset="./img/product-1.webp, ./img/product-1-2x.webp 2x">
        <img src="./img/product-1.png" alt="Диван тканевый, синий" loading="eager">
      </picture>
      <div class="product-main__info">
        <p class="product-main__rating">4,8</p>
        <h2 class="product-main__title">Диван тканевый прямой &#8243;D-31&#8243;</h2>
        <p class="product-main__details">
          Мини 120 см без ящика Stark синий (Рогожка)
        </p>
        <p class="product-main__price">28 490 руб</p>
        <button class="button-reset button-filled product-main__button">
          Купить в один клик
        </button>
        <button class="button-reset link-t1 product-main__link">+ Добавить в корзину</button>
      </div>
    </div>

    <div class="product-main__specification">
      <h3 class="product-main__subtitle">Опорный механизм</h3>
      <p class="product-main__descr">
        <span class="product-main__para">
          Опорный механизм напоминает пантограф, к которому добавили
          дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд
          и вытаскивает вторую часть спального места. Заключительный штрих —
          опустить спинку.
        </span>
        <span class="product-main__para">
          Этот механизм не портит пол и не боится ковров. Требуется чуть больше
          силы, чтобы разложить диван, но подросток справится.
        </span>
      </p>
    </div>

    <div class="product-main__characteristics">
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Гарантия</span>
        </dt>
        <dd class="product-main__definition">18 месяцев</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Артикул</span>
        </dt>
        <dd class="product-main__definition">AAA41269004</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Длина</span>
        </dt>
        <dd class="product-main__definition">163 см</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Высота</span>
        </dt>
        <dd class="product-main__definition">90 см</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Глубина</span>
        </dt>
        <dd class="product-main__definition">108 см</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Спальное место</span>
        </dt>
        <dd class="product-main__definition">200 см х 125 см</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Высота посадки</span>
        </dt>
        <dd class="product-main__definition">45 см</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Механизм</span>
        </dt>
        <dd class="product-main__definition">Опорный</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Тип обивки</span>
        </dt>
        <dd class="product-main__definition">Рогожка</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Цвет</span>
        </dt>
        <dd class="product-main__definition">Синий</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Наполнитель</span>
        </dt>
        <dd class="product-main__definition">Независимый пружинный блок</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Материал каркаса</span>
        </dt>
        <dd class="product-main__definition">Металл. рама с дерев. латами</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Количество мест</span>
        </dt>
        <dd class="product-main__definition">Двухместные</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Категория</span>
        </dt>
        <dd class="product-main__definition">Прямые тканевые диваны</dd>
      </dl>
      <dl class="list-reset product-main__list">
        <dt class="product-main__characteristic">
          <span class="product-main__list-positioning">Возврат</span>
        </dt>
        <dd class="product-main__definition">Условия</dd>
      </dl>
    </div>
  </div>
</section>
