<section class="similar-products">
  <div class="container similar-products__container">
    <h2 class="similar-products__title">Похожие товары</h2>
    <ul class="list-reset similar-products__list grid">
      <li class="similar-products__item">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-10-320.webp, ./img/product-card-10-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-10-768.webp, ./img/product-card-10-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-10-1024.webp, ./img/product-card-10-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-10.webp, ./img/product-card-10-2x.webp 2x">
            <img src="./img/product-card-10.png" alt="Диван велюровый, серый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,5</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван велюровый <br> &#8243;R-85&#8243;</h3>
            <p class="product-card__price">34 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="similar-products__item">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-11-320.webp, ./img/product-card-11-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-11-768.webp, ./img/product-card-11-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-11-1024.webp, ./img/product-card-11-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-11.webp, ./img/product-card-11-2x.webp 2x">
            <img src="./img/product-card-11.png" alt="Диван из флока, голубой" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,6</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван флоковый <br> &#8243;H-58&#8243;</h3>
            <p class="product-card__price">23 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="similar-products__item similar-products__item--sm">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-12-1024.webp, ./img/product-card-12-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-12.webp, ./img/product-card-12-2x.webp 2x">
            <img src="./img/product-card-12.png" alt="Диван из велюра, голубой" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,5</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван велюровый <br> &#8243;S-44&#8243;</h3>
            <p class="product-card__price">19 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="similar-products__item similar-products__item--md">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-7-1024.webp, ./img/product-card-7-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-7.webp, ./img/product-card-7-2x.webp 2x">
            <img src="./img/product-card-7.png" alt="Диван из шинила, серый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,8</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван шиниловый <br> &#8243;V-43&#8243;</h3>
            <p class="product-card__price">19 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
