<section class="specials">
  <div class="container specials__container">
    <h2 class="section-title specials__title">Специальные предложения</h2>
    <ul class="list-reset specials__list grid">
      <li class="specials__item">
        <article class="specials-card">
          <picture class="specials-card__picture">
            <source media="(max-width: 1199.9px)" srcset="./img/specials-1-1024.webp, ./img/specials-1-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/specials-1.webp, ./img/specials-1-2x.webp 2x">
            <img src="./img/specials-1.png" alt="Кресло велюровое, жёлтое" loading="lazy">
          </picture>
          <p class="specials-card__discount" aria-hidden="true">&#8209; 9 000</p>
          <div class="specials-card__info">
            <h3 class="specials-card__title">Кресло велюровое &#8243;X-24&#8243;</h3>
            <p class="specials-card__price">
              <span class="specials-card__price specials-card__price--new">15 990 руб</span>
              <span class="specials-card__price specials-card__price--old">24 990 руб</span>
            </p>
            <a class="button-hollow specials-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="specials__item">
        <article class="specials-card specials-card--lg">
          <picture class="specials-card__picture specials-card__picture--lg">
            <source media="(max-width: 1199.9px)" srcset="./img/specials-2-1024.webp, ./img/specials-2-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/specials-2.webp, ./img/specials-2-2x.webp 2x">
            <img src="./img/specials-2.png" alt="Диван тканевый, белый" loading="lazy">
          </picture>
          <p class="specials-card__discount" aria-hidden="true">&#8209; 10 000</p>
          <div class="specials-card__info">
            <h3 class="specials-card__title specials-card__title--lg">Диван тканевый <br> &#8243;Z-44&#8243;</h3>
            <p class="specials-card__price">
              <span class="specials-card__price specials-card__price--new">22 990 руб</span>
              <span class="specials-card__price specials-card__price--old">32 990 руб</span>
            </p>
            <a class="button-hollow specials-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="specials__item">
        <article class="specials-card">
          <picture class="specials-card__picture">
            <source media="(max-width: 1199.9px)" srcset="./img/specials-3-1024.webp, ./img/specials-3-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/specials-3.webp, ./img/specials-3-2x.webp 2x">
            <img src="./img/specials-3.png" alt="Будильник классический медный, с черным циферблатом" loading="lazy">
          </picture>
          <p class="specials-card__discount" aria-hidden="true">&#8209; 600</p>
          <div class="specials-card__info">
            <h3 class="specials-card__title">Будильник <br> &#8243;Quartz-23&#8243;</h3>
            <p class="specials-card__price">
              <span class="specials-card__price specials-card__price--new">1 290 руб</span>
              <span class="specials-card__price specials-card__price--old">1 890 руб</span>
            </p>
            <a class="button-hollow specials-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>


      <li class="specials__item specials__item--mobile">
        <article class="specials-card">
          <picture class="specials-card__picture">
            <source media="(min-width: 320px)" srcset="./img/specials-4-320.webp, ./img/specials-4-320-2x.webp 2x">
            <img src="./img/specials-4-320.png" alt="Скульптура голова оленя, черная" loading="lazy">
          </picture>
          <p class="specials-card__discount" aria-hidden="true">&#8209; 600</p>
          <div class="specials-card__info">
            <h3 class="specials-card__title specials-card__title--lg">Мини-скульптура &#8243;Oh my deer&#8243;</h3>
            <p class="specials-card__price">
              <span class="specials-card__price specials-card__price--new">690 руб</span>
              <span class="specials-card__price specials-card__price--old">990 руб</span>
            </p>
            <a class="button-hollow specials-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="specials__item specials__item--mobile">
        <article class="specials-card specials-card--lg">
          <picture class="specials-card__picture specials-card__picture--lg-1">
            <source media="(min-width: 320px)" srcset="./img/specials-5-320.webp, ./img/specials-5-320-2x.webp 2x">
            <img src="./img/specials-5-320.png" alt="Диван велюровый, коричневый" loading="lazy">
          </picture>
          <p class="specials-card__discount" aria-hidden="true">&#8209; 10 000</p>
          <div class="specials-card__info">
            <h3 class="specials-card__title">Диван вел-флок &#8243;Z-85&#8243;</h3>
            <p class="specials-card__price">
              <span class="specials-card__price specials-card__price--new">22 990 руб</span>
              <span class="specials-card__price specials-card__price--old">32 990 руб</span>
            </p>
            <a class="button-hollow specials-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="specials__item specials__item--mobile">
        <article class="specials-card">
          <picture class="specials-card__picture">
            <source media="(min-width: 320px)" srcset="./img/specials-6-320.webp, ./img/specials-6-320-2x.webp 2x">
            <img src="./img/specials-6-320.png" alt="Термометр классическийб с белым циферблатом" loading="lazy">
          </picture>
          <p class="specials-card__discount" aria-hidden="true">&#8209; 700</p>
          <div class="specials-card__info">
            <h3 class="specials-card__title">Термометр + гидрометр &#8243;H-18&#8243;</h3>
            <p class="specials-card__price">
              <span class="specials-card__price specials-card__price--new">1 390 руб</span>
              <span class="specials-card__price specials-card__price--old">2 090 руб</span>
            </p>
            <a class="button-hollow specials-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>


    </ul>
  </div>
</section>
