<section class="top-rated">
  <div class="container top-rated__container">
    <h2 class="section-title top-rated__title">Высокий рейтинг</h2>
    <ul class="list-reset top-rated__list grid">
      <li class="top-rated__item">
        <article class="product-card">
          <picture class="product-card__picture t-8">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-1-320.webp, ./img/product-card-1-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-1-768.webp, ./img/product-card-1-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-1-1024.webp, ./img/product-card-1-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-1.webp, ./img/product-card-1-2x.webp 2x">
            <img src="./img/product-card-1.png" alt="Диван кожаный, чёрный" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">5,0</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван кожаный <br> &#8243;R-94&#8243;</h3>
            <p class="product-card__price">94 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="top-rated__item">
        <article class="product-card">
          <picture class="product-card__picture t-4">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-2-320.webp, ./img/product-card-2-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-2-768.webp, ./img/product-card-2-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-2-1024.webp, ./img/product-card-2-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-2.webp, ./img/product-card-2-2x.webp 2x">
            <img src="./img/product-card-2.png" alt="Диван кожаный, апартековый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,9</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван апартековый <br> &#8243;T-75&#8243;</h3>
            <p class="product-card__price">69 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="top-rated__item">
        <article class="product-card">
          <picture class="product-card__picture t-4">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-3-320.webp, ./img/product-card-3-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-3-768.webp, ./img/product-card-3-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-3-1024.webp, ./img/product-card-3-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-3.webp, ./img/product-card-3-2x.webp 2x">
            <img src="./img/product-card-3.png" alt="Диван тканевый, синий" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,8</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван тканевый <br> &#8243;D-31&#8243;</h3>
            <p class="product-card__price">28 490 руб</p>
            <a class="button-hollow product-card__button" href="./product-d31.html">Купить</a>
          </div>
        </article>
      </li>
      <li class="top-rated__item">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-4-320.webp, ./img/product-card-4-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-4-768.webp, ./img/product-card-4-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-4-1024.webp, ./img/product-card-4-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-4.webp, ./img/product-card-4-2x.webp 2x">
            <img src="./img/product-card-4.png" alt="Диван велюровый, оранжевый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,8</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван велюровый &#8243;Y-68&#8243;</h3>
            <p class="product-card__price">22 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="top-rated__item">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-5-320.webp, ./img/product-card-5-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-5-768.webp, ./img/product-card-5-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-5-1024.webp, ./img/product-card-5-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-5.webp, ./img/product-card-5-2x.webp 2x">
            <img src="./img/product-card-5.png" alt="Диван из шинила, светло-жёлтый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,8</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван из шинила <br> &#8243;W-95&#8243;</h3>
            <p class="product-card__price">22 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="top-rated__item">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(max-width: 575.99px)" srcset="./img/product-card-6-320.webp, ./img/product-card-6-320-2x.webp 2x">
            <source media="(max-width: 991.99px)" srcset="./img/product-card-6-768.webp, ./img/product-card-6-768-2x.webp 2x">
            <source media="(max-width: 1199.99px)" srcset="./img/product-card-6-1024.webp, ./img/product-card-6-1024-2x.webp 2x">
            <source media="(min-width: 1200px)" srcset="./img/product-card-6.webp, ./img/product-card-6-2x.webp 2x">
            <img src="./img/product-card-6.png" alt="Диван флоковый, персиковый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,8</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван флоковый <br> &#8243;G-41&#8243;</h3>
            <p class="product-card__price">17 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="top-rated__item top-rated__item--hd">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(min-width: 1200px)" srcset="./img/product-card-7.webp, ./img/product-card-7-2x.webp 2x">
            <img src="./img/product-card-7.png" alt="Диван из шинила, серый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,8</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван шиниловый &#8243;V-43&#8243;</h3>
            <p class="product-card__price">19 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
      <li class="top-rated__item top-rated__item--hd">
        <article class="product-card">
          <picture class="product-card__picture">
            <source media="(min-width: 1200px)" srcset="./img/product-card-8.webp, ./img/product-card-8-2x.webp 2x">
            <img src="./img/product-card-8.png" alt="Диван велюровый, бежевый" loading="lazy">
          </picture>
          <p class="product-card__rating" aria-hidden="true">4,7</p>
          <div class="product-card__content">
            <h3 class="product-card__title">Диван велюровый &#8243;S-99&#8243;</h3>
            <p class="product-card__price">19 990 руб</p>
            <a class="button-hollow product-card__button" href="#">Купить</a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
