@font-face {
	font-family: 'OpenSans';
	src: local("OpenSans-Bold"), url("../resources/fonts/OpenSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local("OpenSans-SemiBold"), url("../resources/fonts/OpenSans-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'OpenSans';
	src: local("OpenSans-Regular"), url("../resources/fonts/OpenSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: local("PlayfairDisplay"), url("../resources/fonts/PlayfairDisplay-Black.woff2");
  font-weight: 900;
	font-style: normal;
  font-display: swap;
}
