.body {
  font-family: $opensans;
  min-width: 320px;
  color: $mineshaft;
}

.container {
  margin-inline: auto;
  padding: 0 30px;
  width: min(100%, 1340px);

  @include desktop {
    padding: 0 36px;
  }

  @include tablet {
    padding: 0 70px;
  }

  @include mobile {
    padding: 0 12px;
  }
}

.grid {
  display: grid;
  column-gap: 32px;
  grid-template-columns: repeat(12, 1fr);

  @include desktop {
    grid-template-columns: repeat(9, 1fr);
  }

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include mobile {
    column-gap: 16px;
    grid-template-columns: repeat(6, 1fr);
  }
}

.logo {
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: outline 0.3s ease-in-out;

  &:focus-visible {
    outline-color: $mediumpurple;
  }
}

.button-filled {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: $white;
  background-color: $mediumpurple;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in, color 0.3s ease-in;
  user-select: none;

  &:focus-visible {
    border-color: $purpleheart;
    background-color: $mauve;
  }

  @include hover {
    background-color: $mauve;
  }

  &:active {
    background-color: $purpleheart;
  }

  &:disabled {
    color: $dustygray;
    background-color: $gallery;
  }
}

.button-hollow {
  display: block;
  border: 2px solid $mediumpurple;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: $mediumpurple;
  background-color: transparent;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in, color 0.3s ease-in;
  cursor: pointer;
  user-select: none;

  &:focus-visible {
    border-color: $mediumpurple;
    color: $white;
    background-color: $mauve;
  }

  @include hover {
    color: $white;
    background-color: $mediumpurple;
  }

  &:active {
    border-color: $purpleheart;
    color: $white;
    background-color: $purpleheart;
  }
}

.section-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;

  @include mobile {
    font-size: 24px;
    line-height: 24px;
  }
}

.t-8 {
  @include mobile {
    top: -8px;
  }
}

.t-4 {
  @include mobile {
    top: -4px;
  }
}

.arrow-icon {
  width: 22px;
  height: 22px;

  & path {
    stroke: $mediumpurple;
    transition: stroke 0.3s ease-in-out;
  }

  & circle {
    fill: transparent;
    stroke: $mediumpurple;
    transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
  }

  @include hover {
    & path {
      stroke: $white;
    }

    & circle {
      fill: $mediumpurple;
    }
  }

  &:active {
    & path {
      stroke: $white;
    }

    & circle {
      fill: $purpleheart;
      stroke: $purpleheart;
    }
  }
}

.link-t1 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $dustygray;
  transition: color 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: -5px;
    z-index: -1;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  &:focus-visible::before {
    background-color: $bluechalk;
  }

  &:focus-visible {
    color: $purpleheart;
  }

  @include hover {
    color: $mediumpurple;
  }

  &:active {
    color: $purpleheart;
  }
}
