// fonts

$opensans: "OpenSans", sans-serif;
$playfair: "PlayfairDisplay", serif;

// colors

$white: #fff;
$wildsand: #f6f6f6;
$magnolia: #f8efff;
$gallery: #eaeaea;
$dustygray: #999;
$dovegray: #666;
$mineshaft: #333;

$straw: #d5b986;
$milkpunch: #fff5d1;
$koromiko: #ffbd59;
$crusta: #ff862f;
$rust: #bb370e;

$bluechalk: #ebd1ff;
$mauve: #c998fb;
$mediumpurple: #a65cf0;
$purpleheart: #7033ac;

$sulu: #b8ec64;
